<section class="tabs" >
  <ul class="nav-tabs">
    <li ng-class="{active:tab.isSet(1)}">
      <a href ng-click="tab.setTab(1)">Description</a></li>
    <li ng-class="{active:tab.isSet(2)}">
      <a href ng-click="tab.setTab(2)">Reviews</a></li>
  </ul>
  <!-- description -->
  <product-description class="description" ng-show="tab.isSet(1)"></product-description>
  <!-- reviews -->
  <div class="reviews" ng-show="tab.isSet(2)">
    <ul>
      <h4>Reviews</h4>
      <li ng-repeat="review in product.reviews">
          <span>{{review.stars}} Stars</span>
          <p>"{{review.body}}"</p>
          <cite>-{{review.author}} {{review.createdOn | date}}</cite>
      </li>
    </ul>
    <!-- review form -->
    <product-reviews></product-reviews>
  </div>
</section>
