/*products*/
.product-items{
  width: 80%;
  margin: 30px 10%;
  border-bottom: 2px solid #EEE;
}
/*tabs*/
.nav-tabs li{
  display: inline-block;
  font-size: 125%;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 20px;

}

/*description*/
.description-group{
  width: 90%;
  margin-left: 5%;
}
.description p{
  margin: 10px 0px;
}

/*reviews*/

.reviews{
  width: 90%;
  margin: 0px 5%;
}

.reviews p {
  font-size: 120%;
}
.reviews li{
  margin: 20px 0px;
  background-color: #f2f2f2;
  padding: 10px;
}

.live{
  margin: 20px 0px 20px 0px;
  padding: 10px;
  background-color: #bfbfbf;
}

/*review form*/
.form{
  background-color: #bfbfbf;
  padding: 10px;
  outline: none;
  margin-bottom: 20px;
}
.form h4{
  margin-bottom: 20px;
}
.form select,
.form input,
.form textarea{
  margin: 10px 20%;
  width: 60%;
  /*padding-left: 5px;*/
  text-indent: 5px;
  height: 40px;

}

.form textarea{
  height: 100px;
}
